<!--p id="notice"><%= notice %></p-->

<div id ="list-submission">
	<div class="dl">
		<b><%= @submission.name %></b>
		<p class="dd edit"><%= @submission.content %></p>
	</div>
</div>

<!--%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %-->
