/* This is for parent */

html 
{
	height:100%;
	width:100%;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
	background:url(/assets/bg.jpg);
	background-repeat:no-repeat;
	width:1000px;
	height:100%;
	min-height:100%;
	margin:0 auto;
	padding-bottom:652px;
}

h2 {
    font-family: 'BebasRegular';
}


/* This is for header */

#logo {
    float:left;
}

#about-link { 
    /*border: solid red;*/
    background:url(/assets/about-rope.png);
    width:120px;
    height:250px;
    margin:0 auto;
}

#soc-button-head {
    position:relative;
    float:right;
    bottom:250px;
}

#soc-button-thx {
    position:relative;
    float:left;
}

.addthis_toolbox {
    float:right;
    position:relative;
    bottom:25px;
}

.team {
    font-size:10px;
}

.right { 
    text-align:right;
}

#about {
    text-align:left;
}

#about p#caption{
    font-family: 'BebasRegular';
    color:#444;
    font-size:2em;
}  

#thx-link#logo {
    
}


/*this is for main section*/

#dragonR{
	background:url(/assets/dragon-L.png);
	background-repeat:no-repeat;
	position:relative;
	height:300px;	
	width:340px;
}

#dragonL{
	background:url(/assets/dragon-r.png);
	background-repeat:no-repeat;
	position:relative;
	height:400px;
	width:340px;
	float:right;
	bottom:300px;	
}

#main {
    margin:0 auto;
    width:500px;
    text-align:center;
    position:relative; 
    top:-300px;
}

#h1 {
    font-size:2.5em;
    line-height:1em;
    padding-left:0.5em;
}

#h3 {
    font-size:1.5em;
    padding-left:0.9em;
}

#bef_toggle {
    height: 90px;
}

#toggle_open {
    text-align: center;
}

#toggle_close {
    display:none;
    position:relative;
    float:right;
    bottom:85px;
}

.field label {
    font-size: 1.5em;
}

label.footnote {
    font-size:10px;    
}

#submission_name, #submission_email{
	background:transparent;
	position:relative;
	width:230px;
	margin-left:8px;
    vertical-align:top;
    bottom:4px;
}

label.error{
	margin-left:80px;
    font-size:100%;
}

/*this is for footer section*/

footer{
	position: relative;
    	bottom: 0px;

}













#fb-root{
	width:500px;
}

textarea {
	width:280px;
	height:100px;
	padding 5px;
	resize:none;
	background:transparent;
}

/*h2 { margin: 0 }
*/

.pad15 {
  padding:15px;
}

#section{
  width: 310px;
  margin: 0 auto;   
  text-align: center;	
}



#thx-link {
  text-align: left;
  display: none;
}

#thx-content {
  font-weight: bold;
}

#new-submission-div { 
  /*border: solid red;
  background: white;*/
  background:url(/assets/main.png);
  background-repeat:repeat-y;
  margin:0 auto;
  text-align:left;
  width:320px;
  position:relative;
  bottom:20px;
  font-family:bebas;
}

#toggle{
	text-align:center;
}


div.field, div.actions {
    margin-bottom: 4px;
}

.actions input{
	background: transparent;
	font-family: bebas;
	font-size: 16px;
	color: #E7E7E7
}

.actions{
	margin-left:30%;
}



#border{
	border-color: black;
	border-style: solid;
	border:1px;
}

form {
  display: none;
  margin:0 auto;
  padding-left:15px;
}

#recaptcha_widget {
    position: relative;
}

#recaptcha_widget label{
    position:relative;
    top:1px;
}

#recaptcha_response_field {
	width: 295px;
}

#recaptcha_bttn {
    float:right;
    position:relative;
    right:10px;
}

.recaptcha_audio_cant_hear_link { display: none; }

#submit-text {
	margin-left:45px;
}

#submit-text2 {
	padding-top:5px;
	font-size:14px;
	position:relative;
	bottom:14px;
	text-align:center;
}

.dl { 
  /*border: solid red; */
  background:url(/assets/mainM.png);
  background-repeat:no-repeat;
  width:280px;
  margin: 0 auto;
  text-align: left;
  padding: 15px;
  color:white;
  padding-top:50px;
  font-size:14px;
  font-family:arial;
}

.dd {
  margin: 0;
  color:black;
	font-size:12px;
	font-family:arial;
}

#timer {
  position: fixed;
  top: 100px;
  right: 150px;
  color: white;
}

#list-submission{
	position:relative;
	bottom:20px;
	font-family:helvetica;
}

br { clear: both; }

.cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #000;
}

.desc { margin: 7px 3px; }

.desc div {
  float: left;
  font-family: Arial;
  width: 70px;
  margin-right: 65px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

#share_button_head {
    position: relative;
}

.share_button_{
	position:relative;
	left:175px;
	top:3px;
}


/*.twitter-share-button{
	position:relative;
	left:177px;
	top:3px;
}*/

/*iframe{
	position:relative;
	right:-600px;
}*/

#notice { display:none; }

#twitter{
	position:relative;
}

input, textarea {
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    border:1px solid rgba(0,0,255, 0.8); 
}